.blog-section,
.reversible-blog-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em 2em;
  font-size: 20px;
  line-height: 1.5em;
  gap: 2em;
}

@media screen and (max-width: 600px) {
  .reversible-blog-section {
    flex-direction: column-reverse;
  }
  .blog-section {
    flex-direction: column;
  }
}
