html {
  background-color: var(--ctp-macchiato-crust);
}
p, h1, h2, h3, h4, h5, button, .text {
  font-feature-settings: "calt" 1; /* Enable ligatures for IE 10+, Edge */
  text-rendering: optimizeLegibility; /* Force ligatures for Webkit, Blink, Gecko */
  color: var(--ctp-macchiato-text, #ff0000);
  font-family: FiraCode-Regular, "Fira Code", Georgia !important;
}
.light {
  font-weight: 300;
}
.regular {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.semibold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}
.variable {
  font-family: "Fira Code VF";
  font-variation-settings: "wght" 400;
}
i {
  font-style: normal;
  color: #c33;
}
b {
  font-weight: inherit;
  color: #c33;
}
